rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    function isSignedIn() {
      return request.auth != null;
    }

    match /categories/{categoryId} {
      allow read: if true;
      allow write: if isSignedIn();
    }

    match /posts/{postId} {
      allow get: if resource.data.status == 'published' || isSignedIn();
      allow list: if true;
      allow write: if isSignedIn();
    }
  }
}
